body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.groups-container h2 {
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 5px;
}

.cell {
    background-color: #d9eaf7;
    border: 2px solid transparent;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    transition: 0.2s;
}

.cell:hover, .cell.active {
    background-color: #a4c8ed;
    border-color: #0073e6;
}

#text-display {
    width: 600px;
    height: 300px;
    border: 2px solid black;
    margin: 145px auto;
    padding: 10px;
    font-size: 16px;
    overflow-y: auto;
    display: block;
    white-space: pre-line;
}

button {
    background-color: #d9eaf7;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #a4c8ed;
}

#result-display {
    width: 800px;
    height: 150px;
    border: 2px solid black;
    padding: 10px;
    margin-top: 10px;
    white-space: pre-line;
    font-size: 16px;
    overflow-y: auto;
}

strong {
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
}
